.amount-btn {
  border: 1px solid #c4c4c4;
  background-color: #585076;
  width: 160px;
  height: 30px;
  border-radius: 6px;
  color: #d4d2db;
  font-family: 'Roboto';
  margin: 10px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
